.footer.row-fluid
  .container
    p.pull-left
      | 2013-2014 © develop by Vitaliy Yarovuy
    p.pull-right
      | email: &nbsp;
      a(href="mailto:vitaliy.yxz@gmail.com?Subject=I%20am%20interesting%20http://av2ts-lite.herokuapp.com/", target="_top") vitaliy.yxz@gmail.com
      br
      | skype: vitaliy.yarovuy
