extends layout

block content
  h1 hello User
  p
   | enter id for separete test
   a(href="/docs/VAST-2_0-FINAL.pdf", target="_blank") VAST 2.0
   |  client or chose existing.



  div(ng-controller='PointListCtrl')
    .input-group
      input(type="text", class="form-control", ng-model="pointId")
      span.input-group-btn
        button.btn.btn-default(type="button", ng-click="go()") Go!

    hr

    ol.crearfix.test-point-list
      li(ng-repeat="point in pointList")
        a.btn.btn-sm.btn-primary(href="/point/{{point.id}}", ng-class="point.isNew?'btn-success':''") {{point.id}}

block scripts
  script(src="/js/pages/index/app.js")