doctype 5
html(ng-app="App")
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap-3.0.3/css/bootstrap.css')
    link(rel='stylesheet', href='/libs/bootstrap-3.0.3/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        a.navbar-brand(href="/")
          | AV2TS lite
          sup alpha
        .navbar-text
          = title
    .container(style="margin-top:60px;")
      block content

    script(src='/libs/jquery-2.0.3.js')
    script(src='/socket.io/socket.io.js')
    script(src='/libs/bootstrap-3.0.3/js/bootstrap.js')
    script(src='/libs/bootstrap-multiselect.js')
    script(src='/js/utils/bootstrap.fix.js')
    script(src='/libs/angular.js')
    script(src='/libs/lodash.js')


    block scripts
    script(src='/js/service/socket.js')
    script(src='/js/service/videoHelper.js')

    script(src='/js/directives/selectVideo.js')
    script(src='/js/directives/selectVideoType.js')

