.navbar .label {
  display: inline-block;
  margin: 0 0 2px 5px;
  vertical-align: middle;
}
.fl-r {
  float: right;
}
.fl-l {
  float: left;
}
.pos-a {
  position: absolute;
}
.pos-r {
  position: relative;
}
.tr-5 {
  top: 5px;
  right: 5px;
}
.r-0 {
  right: 0;
  left: inherit;
}
.td-pos-r td,
.td-pos-r th {
  position: relative;
}
.col-c-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
.form-group {
  margin-bottom: 10px;
}
.btn-group.width-100 {
  width: 100%;
}
.btn-group.width-100 > .btn {
  width: 100%;
}
fieldset {
  margin-left: 3px;
  margin-right: 3px;
}
fieldset legend.sm {
  font-size: 16px;
}
.test-point-list li {
  float: left;
  margin-right: 35px;
  margin-bottom: 20px;
}
.test-point-list li a.btn {
  min-width: 135px;
}
#vast-statistic th,
#vast-statistic td {
  vertical-align: middle;
}
#vast-statistic thead th:not(:first-child) {
  text-align: center;
}
#vast-statistic td {
  text-align: center;
}
