@import 'prefixer';

.navbar{
  .label{
    display: inline-block;
    margin: 0 0 2px 5px;
    vertical-align: middle;
  }
}


.test-point-list{
  li{
    float: left;
    margin-right: 35px;
    margin-bottom: 20px;
    a.btn{
      min-width: 135px;
    }
  }
}


#vast-statistic{
  th,td{
    vertical-align: middle;
  }
  thead{
    th:not(:first-child){
      text-align: center;
    }
  }
  td{
    text-align: center;
  }
}