Extensions
  Extension( type="startTime") 00:00
  Extension( type="skipTime") 00:07
  Extension( type="skipTime2") 00:05
  Extension( type="linkTxt") go to market
  Extension( type="isClickable") 1
  Extension( type="skipAd") google.com
  Extension( type="addClick") google.com