div(ng-controller='PointSettingsCtrl')
  h2 settings
  ul.nav.nav-tabs
    li(ng-repeat="(vastKey,vast) in point.vasts", class="{{$index==0?'active':''}}")
      a(href="#settings_{{vastKey}}", data-toggle="tab") {{vastKey}}
  .tab-content
    div(ng-repeat="(vastKey,vast) in point.vasts", id="settings_{{vastKey}}",class="tab-pane {{$index==0?'active':''}}")
      br
      fieldset
        legend
          | VAST:
          button.btn.btn-xs.btn-danger.pos-a.tr-5(disabled=true) remove
        .row
          .col-xs-6
            .form-group
              label(for="vast_id") vast id
              input.form-control.input-sm#vast_id( type="text", ng-model="vast.settings.id")
        fieldset(ng-if="vast.inLine")
          legend InLine:
          .row
            .col-xs-4
              .form-group
                label(for="inLine_AdSystem") AdSystem
                input.form-control.input-sm#inLine_AdSystem( type="text", ng-model="vast.inLine.settings.AdSystem")
              .form-group
                label(for="inLine_version") version
                input.form-control.input-sm#inLine_version( type="text", ng-model="vast.inLine.settings.version")
            .col-xs-4
              .form-group
                label(for="inLine_AdTitle") AdTitle
                input.form-control.input-sm#inLine_AdTitle( type="text", ng-model="vast.inLine.settings.AdTitle")
              .form-group
                label(for="inLine_Description") Description
                input.form-control.input-sm#inLine_Description( type="text", ng-model="vast.inLine.settings.Description")
            .col-xs-4
              .form-group
                label(for="inLine_Survey") Survey
                input.form-control.input-sm#inLine_Survey( type="text", ng-model="vast.inLine.settings.Survey")
          include _settings_creatives
        fieldset(ng-if="vast.wrapper")
          legend Wrapper:
          .row
            .col-xs-4
              .form-group
                label(for="inLine_AdSystem") AdSystem
                input.form-control.input-sm#inLine_AdSystem( type="text", ng-model="vast.wrapper.settings.AdSystem")
              .form-group
                label(for="inLine_version") version
                input.form-control.input-sm#inLine_version( type="text", ng-model="vast.wrapper.settings.version")
            .col-xs-4
              .form-group
                label(for="inner_Vast") inner Vast
                select.form-control.input-sm#inner_Vast( ng-model="vast.wrapper.innerVast")
                  option(ng-repeat="(key,item) in point.vasts | excludeItems:'key':vastKey", value="{{item.id}}") {{key}}
          include _settings_creatives

