h2
  span statistic
  &nbsp;
  span.btn.btn-xs.btn-warning clear

table.table#vast-statistic
  thead
    tr
      th event\vast file
      th inline
      th wrapper 1
      th wrapper 2
  tbody
    tr
      th load
      td
        .label.label-primary 0
        br
        span -- -- -- --:--:--
      td
        .label.label-primary 0
        br
        span -- -- -- --:--:--
      td
        .label.label-primary 0
        br
        span -- -- -- --:--:--
    tr
      th Impression
      td
        .label.label-primary 0
        br
        span -- -- -- --:--:--
      td
        .label.label-primary 0
        br
        span -- -- -- --:--:--
      td
        .label.label-primary 0
        br
        span -- -- -- --:--:--
