div(ng-controller='PointStatisticsCtrl')
  h2
    span statistics
    &nbsp;
    span.btn.btn-xs.btn-warning(ng-click="clear()") clear

  table.table.table-condensed#vast-statistic
    thead
      tr.active
        th event\vast file(sessions count)
        th(ng-repeat="(itemKey,item) in point.items")
          div {{itemKey}}({{item.statistic.sessions.length}})
    tbody
      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") ad events
      tr(ng-repeat="event in getEventsName(point.items)")
        th {{event}}
        td(ng-repeat="(itemKey,item) in point.items")
          div(ng-statistic-item ="vast", ng-statistic-item-data="[item.statistic,event]")

    tbody
      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") extensions events
      tr(ng-repeat="event in getExtensionsEventsName(point.items)")
        th {{event}}
        td(ng-repeat="(itemKey,item) in point.items")
          div(ng-statistic-item ="extensions", ng-statistic-item-data="[item.statistic,event]")

    tbody
      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") creatives

    tbody(ng-repeat="creative_index in getCreativeCount(point.items)")
      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") # {{creative_index}} creative
      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") tracking events
      tr(ng-repeat="event in getCreativeEventsName(point.items,creative_index)")
        th {{event}}
        td(ng-repeat="(itemKey,item) in point.items")
          div(ng-statistic-item ="creative", ng-statistic-item-data="[item.statistic,creative_index,event]")

      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") click events
      tr(ng-repeat="event in getCreativeEventsName(point.items,creative_index,'clickPoints')")
        th {{event}}
        td(ng-repeat="(itemKey,item) in point.items")
          div(ng-statistic-item ="creative", ng-statistic-item-data="[item.statistic,creative_index,event,'clickPoints']")

      tr.active
        th.text-center(colspan="{{getVastCount(point.items)}}") MediaFiles

      tbody(ng-repeat="mediafile_index in getMediaFilesCount(point.items, creative_index)")
        tr.active
          th.text-center(colspan="{{getVastCount(point.items)}}") # {{mediafile_index}} MediaFile events

        //tr(ng-repeat="event in getCreativeEventsName(point.vastStatistics,creative_index,mediafile_index)")
          th {{event}}
          td(ng-repeat="(itemKey,vast) in point.vastStatistics")
            div(ng-if="getCreative(vast,creative_index)")
              .label.label-primary {{ getCreativeEventCount(vast,creative_index,event,'clickPoints')}}
              | &nbsp;&nbsp;
              span -- -- -- --:--:--
            div(ng-if="!getCreative(item.statistic,creative_index)")
              span ---