div(ng-controller='PointStatisticsCtrl')
  h2
    span statistics
    &nbsp;
    span.btn.btn-xs.btn-warning(ng-click="clear()") clear

  table.table.table-condensed#vast-statistic
    thead
      tr.active
        th event\vast file(sessions count)
        th(ng-repeat="(vastKey,vast) in point.vastStatistics")
          div {{vastKey}}({{vast.sessions.length}})
    tbody
      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") ad events
      tr(ng-repeat="event in getEventsName(point.vastStatistics)")
        th {{event}}
        td(ng-repeat="(vastKey,vast) in point.vastStatistics")
          div(ng-statistic-item ="vast", ng-statistic-item-data="[vast,event]")

    tbody
      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") extensions events
      tr(ng-repeat="event in getExtensionsEventsName(point.vastStatistics)")
        th {{event}}
        td(ng-repeat="(vastKey,vast) in point.vastStatistics")
          div(ng-statistic-item ="extensions", ng-statistic-item-data="[vast,event]")

    tbody
      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") creatives

    tbody(ng-repeat="creative_index in getCreativeCount(point.vastStatistics)")
      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") # {{creative_index}} creative
      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") tracking events
      tr(ng-repeat="event in getCreativeEventsName(point.vastStatistics,creative_index)")
        th {{event}}
        td(ng-repeat="(vastKey,vast) in point.vastStatistics")
          div(ng-statistic-item ="creative", ng-statistic-item-data="[vast,creative_index,event]")

      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") click events
      tr(ng-repeat="event in getCreativeEventsName(point.vastStatistics,creative_index,'clickPoints')")
        th {{event}}
        td(ng-repeat="(vastKey,vast) in point.vastStatistics")
          div(ng-statistic-item ="creative", ng-statistic-item-data="[vast,creative_index,event,'clickPoints']")

      tr.active
        th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") MediaFiles

      tbody(ng-repeat="mediafile_index in getMediaFilesCount(vastStatistics,creative_index)")
        tr.active
          th.text-center(colspan="{{getVastCount(point.vastStatistics)}}") # {{mediafile_index}} MediaFile events

        //tr(ng-repeat="event in getCreativeEventsName(point.vastStatistics,creative_index,mediafile_index)")
          th {{event}}
          td(ng-repeat="(vastKey,vast) in point.vastStatistics")
            div(ng-if="getCreative(vast,creative_index)")
              .label.label-primary {{ getCreativeEventCount(vast,creative_index,event,'clickPoints')}}
              | &nbsp;&nbsp;
              span -- -- -- --:--:--
            div(ng-if="!getCreative(vast,creative_index)")
              span ---